/* style for regiser as user */
body {
  background-color: #d9e8f5;
}
.registe-user {
  background-color: white;
  width: 550px;
  text-align: center;
  border-radius: 22px;
  height: 780px;
  margin-left: 350px;
  box-shadow: 5px 5px 5px grey;
}

.form-group {
  display: block;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-bottom: 25px;
}
.error-message {
  position: absolute;
  color: red;
}

.general-message {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: bold;
}

.password-error-message {
  top: -60px;
  left: 90px;
}
.email-error-message {
  top: -60px;
  margin: 10px 0;
  left: 90px;
}
.label-group {
  display: flex;
  margin-left: 50px;
  padding: 10px;
  font-size: 18px;
}
.input-user-group {
  border-radius: 5px;
  width: 350px;
  height: 32px;
  border: 1px solid #7b7b7b;
}
.input-user-group:focus {
  outline: 2px solid #f26101;
}
.register-user-botton {
  background-color: #f26101;
  border: 1px solid #f26101;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
p a {
  font-size: 16px;
  font-weight: bold;
  color: #f26101;
}
.link-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 100px;
  width: 350px;
}
.link-register a {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.link-register a:focus {
  color: #f26101;
}
.link-register a:active {
  color: #f26101;
}
.link-register .link-register-user {
  color: #f26101;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* style for login user */

.login-user {
  background-color: white;
  width: 550px;
  text-align: center;
  border-radius: 22px;
  height: 350px;
  margin-left: 350px;
  box-shadow: 5px 5px 5px grey;
}
.login-user-botton {
  background-color: #f26101;
  border: 1px solid #f26101;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}
