* {
  box-sizing: 0;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #d9e8f5;
}
.createproduct {
  margin: 120px 0 0 350px;
}

.product-info {
  background-color: white;
  width: 550px;
  text-align: center;
  border-radius: 22px;
  height: 670px;
  margin-left: 350px;
  /* margin-top: 50px; */

  box-shadow: 5px 5px 5px grey;
}

.form-group {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 65px;
}

.label-product-group {
  display: block;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.input-product-group {
  border: 1px solid #c1c1c197;
  border-radius: 5px;
  width: 400px;
  height: 35px;
  display: block;
  margin: 5px 0 0 90px;
}
.input-product-group:focus {
  outline: 2px solid #f26101;
}

.form-group div {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  margin-right: 130px;
  gap: 80px;
  height: 80px;
}
.form-group div input {
  width: 150px;
}
.input-product-description {
  margin: 5px 0 0 70px;
  display: block;
  border: 1px solid #c1c1c197;
  border-radius: 5px;
  width: 400px;
  height: 150px;
}
.input-product-description:focus {
  outline: 2px solid #f26101;
}
.label-product-description {
  display: block;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.image-info {
  background-color: white;
  width: 550px;
  text-align: center;
  border-radius: 22px;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid rgb(255, 255, 255);
}

.image-info .image-group {
  /* margin-top: 30px; */
  margin-left: 13px;
  display: block;
  /* border: 1.5px solid rgb(155, 155, 155); */
  border-radius: 5px;
  width: 480px;
  padding: 20px;
}
.image-group .label-image {
  font-size: 18px;
  font-weight: bold;
  margin-left: -10px;
}
.image-group .input-image {
  border-radius: 5px;
  height: 21px;
  width: 94px;
  margin-left: 330px;
  background-color: #f26101;
  /* display: none; */
}

hr {
  width: 520px;
  margin-left: -21px;
  margin-top: 10px;
  border: 1px solid #070707;
}

.footer-seller {
  background-color: white;
  width: 85%;
  height: 50px;
  margin-left: 15%;
  padding: 7px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: -3px -3px 10px grey;
}
.footer-seller button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 40px;
  margin-left: 85%;
  margin-top: 5px;
  color: white;
  background-color: #f26101;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #c2c2c28c;
  border-radius: 10px;
}

.footer-seller button:hover {
  background-color: white;
  border: 1px solid #f26101;
  color: #f26101;
}
