* {
  box-sizing: 0;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #d9e8f5;
}
.header {
  background-color: #86abd4;
  height: 50px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f26101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__logo img {
  font-size: 1.5rem;
  width: 250px;
  height: 70px;
  font-weight: bold;
}

.header__search {
  position: relative;
  margin: 0 1rem;
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: space-between;
}

.header__search input {
  padding: 0.5rem 1rem;
  border: 1px solid #040404;
  border-radius: 10px;
  width: 450px;
  height: 20px;
}
.header__search input:focus {
  outline: 2px solid #f26101;
}

.header__search button {
  padding: 0.5rem;
  background-color: #f26101;
  width: 130px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}
.header__search button:hover {
  color: white;
  border: 1px solid white;
}

.header__actions {
  display: flex;
  margin-bottom: 10px;
  align-items: end;
  justify-content: end;
}

.header__actions li {
  list-style: none;
  margin-right: 10px;
  width: 90px;
}
.header__actions a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.header__actions a:hover {
  color: #f26101;
}
.header__actions a:focus {
  color: #f26101;
}

.cart-item {
  position: relative;
}

/* .cart-item:hover {
  background-color: #e65600;
} */

.cart-count {
  position: absolute;
  top: 35px;
  right: 20px;
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
}

.cart-count {
  background-color: #f26101;
}

/* dropdownprofile */

.dropdownprofile {
  position: absolute;
  top: 6rem;
  right: 13rem;
  width: 80px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
}
.dropdownprofile a {
  font-size: 16px;
}
.dropdownprofile li {
  margin-top: 5px;
}
.dropdownprofile hr {
  width: 100px;
  margin-left: -10px;
}

.dropdownprofile::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
